body {
  background-image: url(/images/background.jpg);
  background-size: cover;
  font-family: 'Jost', sans-serif;
  color: purple;
  font-size: 18px;
  line-height: 20px;
}

#profile_pic {
  border-radius: 50px;
  margin: auto;
}

p {
  font-weight: 300;
}
h1, h2 {
  font-size: 20px;
  font-weight: 900;
}

.btn {
  background-color: purple;
  border: 1px solid purple;
  width: 200px;
  margin: 20px auto;

}

.btn:hover {
  background-color: black;
  border: 1px solid black;
}

.card {
  opacity:0.8;
  margin: 50px auto;
  padding: 20px 10px;
}

.text-center{
  text-align: center;
}

a {
  text-decoration: none;
  color: purple;
  font-weight:bold;
}

a:hover{
  color:black;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  margin:0px;
}
